aiogram>=3.20.0
environs>=11.0.0
redis>=5.0.0
betterlogging>=0.2.0
backoff>=2.2.1
ujson>=5.10.0
yarl>=1.9.4
sqlalchemy>=2.0.0,<3.0
alembic>=1.13.1
asyncpg>=0.29.0
marshmallow>=4.0.0
python-dotenv>=1.0.0